section.search-container {

  width: 35%;
  position: absolute;
  top: 10rem;
  z-index: 5;
  height: 50%;
  
  & input {
    width: 100%;
    height: 10%;
    border: 0;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    padding-left: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
      -11.15px -10.39px 48px -12px rgba(0, 0, 0, 0.09),
      -1.86px -1.73px 12px -9px rgba(0, 0, 0, 0.07),
      inset 1.96px 1.83px 8.44px 0px rgba(255, 255, 255, 0.15),
      inset 1.03px 0.96px 4.22px 0 rgba(255, 255, 255, 0.15);
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      display: none;
    }

    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
      );
    }
    &::placeholder {
        padding-left: 1.5rem;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.4);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
      );
    }
    &:focus {
      outline: none;
    }
  }
  & button {
      position: absolute;
      background-color: transparent;
      z-index: 1;
      height: 2.2rem;
      right: 0;
      border: none;
      padding-left: 2rem;
      transform: translateX(-40px);
      transition: transform 200ms ease-in-out;
      opacity: 80%;
      &:hover {
        transform: scale(1.1) translateX(-40px);
        
      }
      &:active {
        transform: scale(0.9) translateX(-40px);
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  & div {
    border: 1px solid red;
    margin-top: 1.5rem;
    overflow: auto;
    position: relative;
    z-index: 1;
    height: 60%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    scrollbar-width: none;
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
      -11.15px -10.39px 48px -12px rgba(0, 0, 0, 0.09),
      -1.86px -1.73px 12px -9px rgba(0, 0, 0, 0.07),
      inset 1.96px 1.83px 8.44px 0px rgba(255, 255, 255, 0.15),
      inset 1.03px 0.96px 4.22px 0 rgba(255, 255, 255, 0.15);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
      );
    }
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      border-radius: 10px;
      left: 0;
      width: 1px;
      height: 90%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
      );
    }
    & button {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        width: 100%;
        text-align: start;
        overflow: hidden;
        color: rgba(255, 255, 255, 1);
        padding-left: 1rem;
        margin-top: 1rem;
        
    }
  }
  & button.cross-btn {
      position: absolute;
      width: 4rem;
      height: 3.5rem;
      top: -0.9rem;
      padding: 0;
      transform: none;
      &:hover {
        transform: scale(1.1);

      }
      &:active {
        transform: scale(0.9);
      }
    }
}
div.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 2;
    opacity: 50%;
    display: none;

}