@import url(reset.css);
@import url(search-styles.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color: #2a1a00;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../image-assets/sunny-evening.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color);
  font-family: var(--font-family);
  height: 100%;
}
section.weather-card {
  border: 1px solid red;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 55px;
  position: relative;
  z-index: 0;
  clip-path: inset(0% 0% 0 0 round 9% 9% 9% 9%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    -11.15px -10.39px 48px -12px rgba(0, 0, 0, 0.09),
    -1.86px -1.73px 12px -9px rgba(0, 0, 0, 0.07),
    inset 1.96px 1.83px 8.44px 0px rgba(255, 255, 255, 0.15),
    inset 1.03px 0.96px 4.22px 0 rgba(255, 255, 255, 0.15);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: url(../image-assets/noise-texture.png);
    opacity: 0.02;
    z-index: -1;
  }
  & header {
    width: 90%;
    margin-top: 2rem;
    border-radius: 38px;
    box-shadow: inset 0 0 27px 33px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.07);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 95px);
    position: relative;
    & figure {
      height: 100%;
      position: absolute;
      top: -0.9rem;
      left: -2.5rem;
      & img {
        height: 11rem;
        width: 15rem;
        object-fit: contain;
      }
    }

    & dl {
      grid-column-start: span 2;
      height: 2.3rem;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      transform: translateY(3rem);
      & div {
        width: 39%;
        display: flex;
        letter-spacing: 2px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        overflow: hidden;
        gap: 5px;
        padding-right: 4rem;
        border-radius: 20px;
        background-color: rgba(189, 110, 0, 0.9);
        &.visibility {
          padding-right: 1rem;
        }
        & img {
          height: 4rem;
          width: 13rem;
          position: absolute;
          left: -4rem;
          top: -1rem;
          object-fit: contain;
          &.rain-icon {
            top: -0.39rem;
          }
          &.visibility-icon {
            left: -4.5rem;
            top: -0.7rem;
          }
        }
        & dt {
          font-weight: 300;
        }
        & dd {
          font-weight: 600;
        }
      }
    }
    & article.time-temp-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 10.5rem;
      top: 1.5rem;
      & p.temp {
        font-size: 2.3rem;
        font-weight: 800;
        letter-spacing: 2px;
      }
      & time {
        position: relative;
        top: 3px;
        font-weight: 300;
        letter-spacing: 2px;
      }
      & address {
        position: relative;
        bottom: 3px;
        font-style: normal;
        letter-spacing: 2px;
        font-weight: 300;
      }
    }
    & button {
      position: absolute;
      background-color: transparent;
      height: 2.8rem;
      right: 0;
      border: none;
      transition: transform 200ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  & article.weather-description {
    width: 90%;
    height: 20%;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(189, 110, 0, 1);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    word-spacing: 2px;
  }
  & dl.wind-humidity {
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-10px);
    & div {
      display: flex;
      font-size: 1.2rem;
      align-items: center;
      & dt {
        margin-right: 5px;
        font-weight: 300;
      }
      & dd {
        font-weight: 600;
      }
    }
  }
  & section.forecast-pills-container {
    width: 90%;
    transform: translateY(-15px);
    display: flex;
    color: #000000;
    & ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0.1rem 0;
      gap: 1rem;

      & li {
        text-align: center;
        position: relative;
        border-radius: 35px;
        background-color: rgba(242, 245, 250, 0.07);
        box-shadow: inset 0 0 15px 42px rgba(255, 255, 255, 0.12);
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        & p.forecast-temprature {
          font-weight: bold;
        }
        & p.forecast-apparent-temp {
          font-size: 0.8rem;
        }
        &.active {
          background-color: rgba(242, 245, 250, 0.37);
          & p.forcast-day {
            font-weight: bold;
          }
        }

        & article {
          display: contents;
        }
        & img {
          object-fit: cover;
          height: 3rem;
          width: 5rem;
        }
      }
    }
  }
}
.progress {
   width: 250.8px;
   height: 16.8px;
   border-radius: 16.8px;
   background: repeating-linear-gradient(135deg,#ada7a7 0 8.4px,rgba(173,167,167,0.75) 0 16.8px) left/0%   100% no-repeat,
         repeating-linear-gradient(135deg,rgba(173,167,167,0.2) 0 8.4px,rgba(173,167,167,0.1) 0 16.8px) left/100% 100%;
   animation: progress-p43u5e 3s infinite;
   opacity: 0;
   visibility: hidden;
   &.show {
    opacity: 1;
    visibility: visible;
   }
}

@keyframes progress-p43u5e {
   100% {
      background-size: 100% 100%;
   }
}